@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', serif;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
}

.stopwatch-holder {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: white;
  /* border: 1px solid rgb(223, 223, 223); */
  border-radius: 20px;
  min-height: 200px;
  box-shadow: 0px 0px 10px 7px rgba(34, 60, 80, 0.2);
}

.stopwatch-display {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  font-size: 3.5rem;
}

.stopwatch-button-holder {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

button {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  background-color: rgb(131, 131, 255);
  padding: 10px;
  flex-grow: 1;
}

button:active {
  background-color: rgb(172, 172, 255);
}